
.shadow(@x,@y,@spread,@color){
  box-shadow:@x @y @spread @color;
  -webkit-box-shadow:@x @y @spread @color;
  -moz-box-shadow:@x @y @spread @color;
}
.sizing(){
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.position(@position){
  position: @position;
}
.grid(@num,@i:1) when (@num<=4){
  .col-@{num}{
    width:(@i/@num*100%);
  }
  .grid((@num+1));
}
.border(){
  border:1px solid red;
}
.radius(@x){
  border-radius:@x;
  -webkit-border-radius: @x;
}
.transform(@x){
  transform:scale(@x);
  -webkit-transform:scale(@x) ;
  -ms-transform:scale(@x);
  -moz-transform:scale(@x);
  -o-transform:scale(@x);
}
.animation(@key,@time){
  animation: @key @time ease;
  -webkit-animation:@key @time ease;
  -moz-animation:@key @time ease;
  -o-animation:@key @time ease;
}
@media screen and (min-width:1000px){
  html{
    font-size: 16px;
    .grid(1);
  }
  .swipe img{
    height:31.25rem;
  }
}
@media screen and (max-width:999px){
  html{
    .col-md{
      width:100%;
    }
  }
  .introduction{
    .introduction-word{
      padding:1rem 0;
    }
  }
  .actor-list-item{
    margin-bottom: 1rem;
  }
}
*{
  margin:0;
  padding:0;
  .sizing();
}
a{
  color:#444;
  text-decoration: none;
}
ul,li{
  list-style: none;
}
header{
  background: #fdfdfd;
  z-index:2;
  width:100%;
  .position(relative);
  .shadow(0,0,10px,#aaa);
  .container{
    width:100%;
    height:5rem;
    line-height:5rem;
    z-index: 100;
    .position(relative);
    .header-logo{
      height:100%;
      .position(absolute);
      left:5%;
    }
    nav{
      .position(absolute);
      right:5%;
      a{
        display: inline-block;
        padding:0 1rem;
      }
    }
    .header-menu{
      display:none;
      line-height: 5rem;
      .position(absolute);
      right:5%;
      img{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.swipe{
  width:100%;
  height:auto;
  .position(relative);
  top:0;
  z-index: 1;
  overflow: hidden;
  img{
    width:100%;
  }
  ul{
    .position(relative);
    display: flex;
    left:0;
    transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    li{
      flex:0 0 100%;
    }
    &::after{
      content:"";
      display:block;
      clear:both;
    }
  }
}
.introduction{
  padding:1rem 0;
  background: #fafafa;
  div{
    float:left;
  }
  &::after{
    content:"";
    display: block;
    clear:both;
  }
  .introduction-image{
    padding:1rem 2rem;
    h3{
      text-align: center;
      padding:1rem 0;
      font-weight:bold;
      color:#4d4d4d;
    }
    .introduction-swipe{
      width:100%;
      overflow: hidden;
      .position(relative);
      .video{
        width:100%;
        height:100%;
        .position(absolute);
        left:12%;
        top:5.25%;
      }
      img{
        width:100%;
        height:15rem;
        .radius(10px);
      }
      .video video{
        width:72%;
        height:87.5%;
        object-fit: fill
      }
    }
  }
  .introduction-word{
    padding:1rem 2rem;
    h3{
      text-align: center;
      padding:1rem 0;
      font-weight:bold;
      color:#4d4d4d;
    }
    p{
      color:#4d4d4d;
      width:80%;
      text-indent: 2rem;
      margin:auto;
      font-size: 0.875rem;
      padding:1rem;
      border:1px solid #4d4d4d;
      .radius(10px)
    }
  }
}
.actor{
  padding:1rem 0;
  width:80%;
  margin:auto;
  h3{
    text-align: center;
    font-weight:bold;
    color:#4d4d4d;
    padding:1rem 0;
  }
  .actor-list{
    padding:2rem 0;
    &::after{
      content:"";
      display: block;
      clear:both;
    }
    .actor-list-item{
      float:left;
      text-align:center;
      border:1px solid #aaa;
      .radius(10px);
      img{
        width:5rem;
        height:5rem;
        .radius(50%);
      }
      p{
        line-height: 2rem;
        color:#4d4d4d;
        padding:0 1rem;
        font-size: 0.875rem;
      }
    }
  }
}
.music{
  background: #fafafa;
  padding:3rem 0;
  h3{
    text-align: center;
    font-weight:bold;
    color:#4d4d4d;
    padding:1rem 0;
  }
  ul{
    width:80%;
    margin:auto;
    padding:3rem 0;
    &::after{
      content:"";
      display:block;
      clear:both;
    }
    li{
      text-align: center;
      float:left;
      padding:0 1rem;
      div{
        background: #fff;
      }
      img{
        width:100%;
        max-height: 15.625rem;
      }
      p{
        line-height: 2rem;
        color:#4d4d4d;
        padding:0 1rem;
        font-size: 0.875rem;
      }
    }
  }
}
@media screen and (max-width:999px){
  html{
    .col-md{
      width:100%;
    }
  }
  header{
    .container{
      nav{
        z-index: 1;
        top:100%;
        right:0;
        width:100%;
        background: #fdfdfd;
        border-top: 1px solid #ddd;
        .shadow(0,0,2px,#aaa);
        .transform(0);
        animation-fill-mode: forwards;
        a{
          display:block;
          line-height: 2rem;
          border-bottom: 1px solid #ddd;
          text-align: center;
        }
      }
      .header-menu{
        cursor:pointer;
        display: inline-block !important;
      }
    }
    .actor{
      overflow:hidden;
    }
  }
  @keyframes show{
    from{
      .transform(0);
    }
    to{
      .transform(1);
    }
  }
  @keyframes hide{
    from{
      .transform(1);
    }
    to{
      .transform(0);
    }
  }
  .scaleIn{
    .animation(show,1s);
  }
  .scaleOut{
    .animation(hide,1s);
  }
  .introduction{
    .introduction-word{
      padding:1rem 0;
    }
    .introduction-image{
      padding:1rem 0.5rem;
    }
  }
  .actor-list-item{
    margin-bottom: 1rem;
  }
  .music{
    li{
      margin-bottom: 1rem;
      div{
        .shadow(0,0,5px,#aaa);
      }
    }
  }
}
